/*
style.css
date:22/07/2019
colors-
red:#B20800
red dark:#930000
*/
@font-face {
            font-family: Avenir;
            src: url('/fonts/Avenir-Black.otf'), 
                 url('/fonts/Avenir-Bokk.otf'), 

        }
@font-face {
            font-family: Gotham;
            src: url('/fonts/GothamBlack_0.otf'), 
                 url('/fonts/Gotham-Black_0.otf'), 
                 url('/fonts/GothamBold_0.otf'),
                 url('/fonts/Gotham-Bold_0.otf'), 
                 url('/fonts/Gotham-Bold_0.otf'),
                 url('/fonts/Gotham-Book_0.otf'),
                 url('/fonts/Gotham-Light_0.otf'),
                 url('/fonts/Gotham-Medium_0.otf');
        }
body{
	font-family: ;
	font-size: 12px;
}
.pl-md-4, .px-md-4{}
.logo{
	width:240px;
}
.text-blanco{color:#fff;}
.head-top{
	position: fixed; 
	width: 100%;
	z-index: 10;
}
.slider-cover{
	width: 100%; 
	height: 700px; 
	background: url("../img/one-bg.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-position: top center;
}
.mision{
	color:;
	text-align: justify;
}
.vision{
	color:;
	text-align: justify;
}
.about{
	
}
.about-conte{
	color:#666;
	text-align: justify;
}


/*Tabs*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #B20800 !important;
}
.nav-pills .nav-link:hover {
    color: #fff;
    background-color: #B20800 !important;
}
.nav-pills .nav-link {
    border-radius: .25rem;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
	color:#fff;
	background-color: #930000;
}
.bg-red{
	color:#fff;
	background: #B20800;
}
