/*
style.css
date:22/07/2019
colors-
red:#B20800
red dark:#930000
gray:#8D929D
*/

@font-face {
	font-family: avenir;
	src: url('fonts/avenir-book.otf');
}

@font-face {
	font-family: avenirblack;
	src: url('fonts/avenir-black.otf');
}

@font-face {
	font-family: gotham;
	src: url('fonts/gotham-light_0.ttf'), url('fonts/gotham-book_0.ttf'), url('fonts/gotham-bold_0.ttf'), url('fonts/gothamblack_0.otf'), url('fonts/gotham-black_0.otf'), url('fonts/gothambold_0.otf'), url('fonts/gotham-bold_0.otf');
}

@font-face{
	font-family: gothammedium;
	src: url('fonts/gotham-medium_0.ttf');
}

body {
	margin: 0;
	font-family: avenir;
	font-size: 12px;
}

img {
	border: 0;
}

a {
	text-decoration: none;
}

label {
	font-family: gotham;
	font-size: 20px;
	color: #fff;
}

section {
	margin: 30px 0 0 0;
	overflow: hidden;
}

.separa {
	width: 100%;
	padding-top: 35px;
}

.article-p {
	font-size: 19px;
	font-weight: normal;
	padding-bottom: 28px;
	padding-top: 10px;
}

.img-responsive {
	width: 100%;
}

.container {
	width: 90%;
	margin: auto;
}

.container article {
	text-align: left;
	padding: 1px 1px 0px 1px;
}

.container article h3 {
	font-family: avenir;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
}

.art-m {
	padding-top: 15px !important;
	font-size: 20px;
	width: 420px;
}

.art-v {
	font-size: 20px;
	width: 420px;
	float: right;
}


/*Control Posicion Menu*/

.top,
.trian-logo,
.trian-menu,
.trian-menu-sombra {
	position: absolute;
}


/*//Control Posicion Menu*/

.top {
	z-index: 100;
	width: 100%;
}


/*.logo{width:240px;}*/

.text-blanco {
	color: #fff;
}

.text-gris {
	color: #474B48;
}

.bg-red {
	color: #fff;
	background: #B20800;
}

.btn-menu {
	display: none;
}

.trian-logo {
	background: url('../img/fondo-logo.png');
	background-image: url('../img/fondo-logo.svg');
	background-repeat: no-repeat;
	z-index: 20;
	top: -8px;
	left: -8px;
	width: 320px;
	height: 130px;
}

.trian-menu {
	background: transparent;
	z-index: 10;
	top: 0;
	right: 0;
	width: 0;
	height: 0px;
	border-right: 620px solid #B20800;
	border-left: 22px solid transparent;
	border-bottom: 45px solid transparent;
	border-top: 45px solid #B20800;
}

.trian-menu-sombra {
	background: transparent;
	z-index: 1;
	top: 40px;
	right: 5px;
	width: 500px;
	height: 0px;
	border-right: 80px solid transparent;
	border-left: 22px solid transparent;
	border-bottom: 45px solid transparent;
	border-top: 45px solid #8D929D;
	-moz-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
}

.trian-bottom {
	position: absolute;
	z-index: 10;
	top: 690px;
	right: 0;
	width: 100%;
	height: 10px;
	border-right: 1920px solid #B20800;
	border-top: 100px solid transparent;
}

.navbar-logo {
	position: absolute;
	z-index: 30;
	top: 25px;
	left: 20px;
	width: 210px;
	display: inline-block;
}

.navbar {
	/*display: inline-block;*/
	float: right;
	margin: 0;
	width: 600px;
}

.navbar-nav {
	list-style: none;
	margin: 15px 50px 15px 0px;
	padding: 0;
	text-align: right;
}

.navbar-nav li {
	font-size: 22px;
	display: inline-flex;
	width: 106px;
	padding-left: 12px;
	padding-right: 12px;
}

.navbar-nav li a {
	font-family: avenir;
	color: #fff;
	border-bottom: 0px solid #fff;
}

.navbar-nav li a:hover {
	font-family: avenirblack;
	color: #fff;
	border-bottom: 1px solid #fff;
}

.banner {
	width: 100%;
	height: 800px;
	margin: 0;
	background: url("../img/one-bg.png");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: bottom center;
}

.valores {
	font-size: 16px;
}

.valores-bg {
	width: 100%;
	height: 500px;
	background: url("../img/valores-bg.png");
	background-image: url("../img/valores-bg.svg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: bottom center;
}

.valores-bg2 {
	position: absolute;
	z-index: 1;
	top: 970px;
	right: -380px;
	width: 0px;
	height: 0px;
	border-top: 0px solid transparent;
	border-left: 1924px solid #8D929D;
	border-bottom: 420px solid #B20800;
	border-right: 0px solid transparent;
	-moz-transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
}

.mision {
	color: #fff;
	text-align: justify;
}

.vision {
	color: #fff;
	text-align: justify;
}


/*SECTION: ABOUT*/

.about {
	padding-top: 10px;
	min-height: 600px;
}

.about-conte {
	background: #444;
	width: 827px;
	/*70%;*/
	margin: auto;
}

.about-conte2 {
	background: #fff;
	width: 658px;
	/*80%;*/
	height: 480px;
	float: left;
}

.svg-about1,
.svg-about2 {
	width: 71px;
	/*10%;*/
	height: 480px;
	float: left;
}

.svg-about1 {
	background: url('../img/about1.svg');
}

.svg-about2 {
	;
	background: url('../img/about2.svg');
}

.article-about {
	background: #eee;
	font-size: 19px;
	padding: 45px 10%;
}

.article-about span {
	font-size: 26px;
	font-family: avenirblack;
}


/*SECTION: SERVICIOS*/

.menu-servicios {
	width: 360px;
	/*height: 722px;*/
	float: left;
	background: transparent;
	padding: 0px;
}

.bg-ima {
	background: url('../img/estructura.jpg');
	height: 649px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: bottom right;
}

.imenu {
	color: #fff;
	font-family: avenir;
	font-size: 20px;
	width: 290px;
	height: 48px;
	background: #930000;
	border-top: 1px solid #B20800;
	border-right: 3px solid #B20800;
	border-bottom: 1px solid #B20800;
	border-left: 3px solid #B20800;
	padding: 22px 0 0 15px !important;
	float: inherit;
}

.imenu:hover,
imenu:focus {
	font-family: avenirblack;
	background: #B20800;
	cursor: pointer;
}

.rec-trian {
	float: right;
	width: 14px;
	height: 0px;
	border-top: 0px solid transparent;
	border-right: 35px solid transparent;
	border-bottom: 72px solid #B20800;
	border-left: 0px solid #B20800;
}

#rec1,
#rec2,
#rec3,
#rec4,
#rec5,
#rec6,
#rec7,
#rec8,
#rec9,
#rec10 {
	display: none;
}

.trian-bg-servicio {
	background: url('../img/trian-servicio.svg');
	background-repeat: no-repeat;
	background-position: right top;
	width: 90%;
	height: 100px;
	margin: auto;
}

.trian-bg-experiencia {
	background: url('../img/trian-experiencia.svg');
	background-repeat: no-repeat;
	background-position: left top;
	width: 90%;
	height: 100px;
	margin: auto;
}

.ver {
	background: url('../img/ser-shadow.svg');
	background-repeat: no-repeat;
	background-position: right 550px;
	color: #fff;
	font-family: avenir;
	font-size: 19px;
	padding: 615px 25px 12px 25px;
	text-align: right;
	vertical-align: bottom;
}

.ver a {
	color: #fff;
	text-decoration: underline;
}


/*SECTION: EXPERIENCIA*/

.item {
	width: 100%;
	height: 200px;
	color: #fff;
	font-family: avenir;
	font-size: 20px;
	background: #B20800;
	border: 1px solid #930000;
}

.item article {
	text-align: right;
	padding: 90px 25px 50px 25px;
	text-transform: uppercase;
}

.item div {
	font-family: gothammedium !important;
	font-size: 14px;
	text-align: right;
	padding: 0 25px;
	text-transform: uppercase;
}

.item:hover, .item a:hover{
	font-family: avenirblack;
	background: #930000;
	cursor: pointer;
}

#item1{
	background: url('../img/item1_off.png');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: left top;
}
#item2{
	background: url('../img/item2_off.png');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: left top;
}
#item3{
	background: url('../img/item3_off.png');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: left top;
}
#item4{
	background: url('../img/item4_off.png');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: left top;
}
/*SECTION: CLIENTES*/
.row-ima3{
	height:100px;
	width:50%;
	margin:auto;
	text-align: center;
}

.row-ima5{
	min-height:550px;
	text-align: center;
	float: left;
}

.row-ima3 .item-logos{
	height: 100px;
	width: 27.33%;
	padding: 15px 0%;
	margin: 0 3%;
	float: left;
}

.row-ima5 .item-logos{
	height: 100px;
	width: 14%;
	padding: 15px 0;
	margin: 0 3%;
	float: left;
}

/*SECTION: CONTACTO*/

.contacto-conte {
	color: #fff;
	background: #B20800;
	padding-top: 25px;
}

.mapa,
.formulario {
	width: 50%;
	height: 500px;
	background: #B20800;
	float: left;
}

.map-conte,
.form-conte {
	width: 450px;
	height: 400px;
	margin: 0 auto;
}

.mapa h3 {
	font-family: avenirblack;
	font-size: 2rem;
	/*margin: 1em 0 1em 0;*/
}

.mapa1 {
	background: #aaa;
	height: 280px;
}

.label {
	padding: 12px 0;
}

.input input {
	font-family: gotham;
	font-size: 18px;
	border: 0;
	width: 90%;
	height: 34px;
	padding: 1px 5px;
}

.btn {
	width: 90%;
	padding: 15px 0;
	text-align: right;
}

.btn-default {
	font-family: avenirblack;
	font-size: 18px;
	color: #555;
	text-transform: uppercase;
	padding: 10px 15px;
	border: 0px;
	background: #eee;
	cursor: hand;
}

.btn-default:hover {
	color: #000;
	background: #aaa;
}

.contact {
	width: 90%;
	float: left;
	padding: 25px 5% 50px 5%;
	background: #B20800;
}

.contact a {
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}

#msj {
	font-family: gotham;
	font-size: 18px;
	width: 90%;
	height: 100px;
}


/* TITULOS - TRIANGULOS ROJO*/

.tit-conte {
	width: 464px;
	/*40%;*/
	height: 112px;
	margin: 40px auto 80px auto;
}

.tit-conte2 {
	background: #fff;
	width: 308px;
	/*65%;*/
	float: left;
	padding-top: 12px;
}

.tit-conte2 h3,
.tit-conte2 h4 {
	text-align: center;
	color: #333;
	font-size: 2.2rem;
	padding: 0;
	margin: 0;
}

.tit-conte2 h3 {
	font-family: avenirblack;
}

.tit-conte2 h4 {
	font-weight: normal;
}

.trian-red1,
.trian-red2 {
	width: 72px;
	/*10%;*/
	height: 110px;
	float: left;
}

.trian-red1 {
	background: url('../img/trian-red1.svg');
}

.trian-red2 {
	;
	background: url('../img/trian-red2.svg');
}

.trian-foot{
	margin-top: 80px;
	background: url('../img/trian-foot.png');
	background-image: url('../img/trian-foot.svg');
	background-repeat: no-repeat;
	background-position: top left;
	width: 100%;
	height: 100px;
}
/*SELECTOR SERVICIOS*/
/* The container must be positioned relative: */
.custom-select {
	margin: auto;
	width: 90%;
	position: relative;
	font-family: Arial;
}
.custom-select select {
	display: none;/*hide original SELECT element: */
}
.select-selected {
	background-color: #B20800;
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
	font-size: 16px;
	font-family: avenir;
	color: #ffffff;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	display: none;
}

/* Style items (options): */
.select-items {
	position: absolute;
	background-color: #B20800;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}

/*Bootstrap*/
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-success{
	color:#155724;
	background-color:#d4edda;
	border-color:#c3e6cb
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

/*RESPONSIVO*/
@media (max-width: 1200px) {}

/*TABLET*/

@media (max-width: 1024px) {
	.navbar {
		width: 550px;
	}
	.navbar-nav {
		margin: 15px 10px 15px 0px;
	}
	.navbar-nav li {
		font-size: 16px;
	}
	.bg-ima {
		height: 500px;
	}
	.ver {
		padding: 467px 25px 12px 25px;
	}
	.trian-menu {
		border-right: 580px solid #B20800;
		border-left: 22px solid transparent;
		border-bottom: 45px solid transparent;
		border-top: 45px solid #B20800;
	}
	.trian-menu-sombra {
		width: 450px;
	}
	.trian-bottom {
		height: 20px;
		border-right: 1024px solid #B20800;
		border-top: 90px solid transparent;
	}
	.contacto-conte {
		width: 100%;
	}
	.menu-servicios {
		display: none;
	}
	.select-items div,
	.select-selected{
		display: inherit;
	}
	#item1,#item2,#item3,#item4{
		background-position: center top;
	}
}

@media (max-width: 980px) {
	.mapa,
	.formulario {
		width: 100%;
	}
	.ver {
		background-position: right bottom;
	}
}

@media (max-width: 825px) {
	.about-conte2 {
		width: 74%;
	}
}

@media (max-width: 800px) {
	.btn-menu {
		display: inherit;
		float: right;
		margin: 30px 10px 0px 0px;
		padding: 0 30px;
	}
	.navbar {
		display: none;
	}
	.about-conte {
		width: 90%;
	}
}


/*Movil*/

@media (max-width: 700px) {
	.row-ima5 .item-logos{
		width: 43%;
	}
}

@media (max-width: 630px) {
	.about {
		height: 800px;
	}
	.about-conte2 {
		width: 70%;
	}
	#item1,#item2,#item3,#item4{
		background-position: left top;
	}
}

@media (max-width: 545px) {
	.about {
		height: 830px;
	}
	.about-conte2 {
		width: 65%;
	}
}

@media (max-width: 500px) {
	.btn-menu {
		margin: 20px 14px 0px 0px;
		padding: 0 10px;
	}
	.navbar-nav li {
		font-size: 12px;
	}
	.about-conte2 {
		width: 100%;
	}
	.tit-conte {
		width: 400px;
	}
	.tit-conte2 {
		width: 250px;
	}
	.svg-about1,
	.svg-about2 {
		display: none;
	}
	.map-conte,
	.form-conte {
		width: 96%;
		padding: 2%;
	}
}

@media (max-width: 400px) {
	.art-m,
	.art-v {
		padding-top: 50px !important;
		font-size: 16px;
		width: 300px;
	}
	.tit-conte2 {
		width: 220px;
	}
	.tit-conte2 h1,
	.tit-conte2 h2 {
		font-size: 2rem;
	}
	.item article{
		padding: 80px 25px 50px 25px;
	}
}
